body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "Lobster", cursive;
}

.d-none.d-sm-block{
    font-family: sans-serif;
}

h2 {
    color: #3046C5;
}

header h2 {
    color: #CEC8FF;
}

 footer {
    background-image:linear-gradient(#CEC8FF, orange);
    padding: 50px 0;
 }
 
.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: #ff4c68
  
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-image:linear-gradient(#CEC8FF, orange);
}

.tab-content {
    border: 1px;
    border-top: none;
    padding: 10px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}


.carousel{
    border: orange;
}


.card-body{
    padding: 8%;
    line-height: 1.5;
    font-size: 1.2rem;

}

.card-header{
    color: orange;

}

.title{
    color: orange;
}

.row {
    padding: 0, 100px;
}